{% extends "edu.html" %}
{% load staticfiles %}
{% block content %}
<div class="col-md-4">
     <h2>Top Five Categories</h2>
     {% if categories %}
     <ul>
        {% for category in categories %}
        <li><a href="/maiagogo/category/{{ category.url }}/#feature">{{ category.name }}</a></li>
        {% endfor %}
     </ul>
        {% else %}
          <strong>No categories at present.</strong>
     {% endif %}
     </div>
    <!--/span-->
   <div class="col-md-8">
     <h2>Top Five Pages</h2>
        {% if pages %}
        <ul>
        {% for page in pages %}
           <li><a href="{{ page.url}}">{{ page.title }}</a> - {{ page.category }} ({{ page.views }} view(s))
        {% endfor %}
        </ul>
        {% else %}
        <strong>No pages at present.</strong>
        {% endif %}
      <hr class="bottom-line">
        </div>
  <div class="header-section text-center">
            <h2>Features</h2>
            <p>Mentor is seen to be like a website for math and programing, particularly python programing  language,it is much beyond that. Mentor provided alot of  services for registered users where you can add any category or add pages to any category as well as cosmetic profile and alot more! </p>
            <hr class="bottom-line">
          </div>
          <div class="feature-info">
            <div class="fea">
              <div class="col-md-4">
                <div class="heading pull-right">
                  <h4>Latest Technologies</h4>
                  <p>People have been defending their own privacy for centuries with whispers,darkness,envelopes, closed doors, secret handshakes, and couriers. The technologies of the past did not allow for strong privacy, but electronic technologies do.
</p>
                </div>
                <div class="fea-img pull-left">
                  <i class="fa fa-css3"></i>
                </div>
              </div>
            </div>
            <div class="fea">
              <div class="col-md-4">
                <div class="heading pull-right">
                  <h4>Toons Background</h4>
                  <p>
                  Every man is surrounded by a neighborhood of voluntary spies.<br/><br/>
                  I should be able to whisper something in your ear, even if your ear is 1000 miles away, and the government disagrees with that.</p>
                </div>
                <div class="fea-img pull-left">
                  <i class="fa fa-drupal"></i>
                </div>
              </div>
            </div>
            <div class="fea">
              <div class="col-md-4">
                <div class="heading pull-right">
                  <h4>Award Winning Design</h4>
                  <p>Why do security police grab people and torture them? To get their
information. If you build an information management system that
concentrates information from dozens of people, you’ve made that
dozens of times more attractive. You’ve focused the repressive regime’s
attention on the hard disk. And hard disks put up no resistance to torture.
You need to give the hard disk a way to resist. That’s cryptography.</p>
                </div>
                <div class="fea-img pull-left">
                  <i class="fa fa-trophy"></i>
                </div>
              </div>
            </div>
  
{% endblock %}
