{% extends "edu.html" %}
{% load staticfiles %}
{% block content %}
<div class="col-md-10">
<div class="service-box ">
<div class="detail-info">
{% if post.published_date %}
<p> <i class="glyphicon glyphicon-time"> </i> Posted by <a href="#">{{ post.author }}</a> on {{ post.created_date }}</p>
{% endif %}
<ul> 
<li><a class ="btn-default" href={% url 'post_edit' pk=post.pk  %}#feature>
  <i class="glyphicon glyphicon-pencil" > </i></a></li>
 <li> <a href="/maiagogo/post/new/#feature"><span class="glyphicon glyphicon-plus"></span></a></li>
  </ul>
<hgroup>
<h4 class="sm-txt" >
<strong>{{ post.title }}</strong>
</hgroup>
</div>
<p>
   {{ post.text|linebreaksbr }}
</p>
<hr>
<hr>
<div class="row">
<div class="col-md-3">
<a class="btn btn-block btn-submit" href="/maiagogo/post/{{post.pk}}/comment/#feature">Add	comment</a>
</div>
</div>
<br/>
{% for comment in	post.comments.all	%}
{%	if user.is_authenticated	or comment.approved_comment	%}
				<div class="comment">
			  <div class="date">{{ comment.created_date }}</div>
								<strong>{{ comment.author	}}</strong><br/>
								<p>{{	comment.text|linebreaks	}}</p>
								<br/>
				</div>
					{%	endif	%}
{%	empty	%}
				<p>No	comments	hereyet	:(</p>
		</div>
{%	endfor	%}
{% endblock %}
